.banner-full-width {
	background: url("../assets/images/home-page-container-banner.jpg") no-repeat center center;
	background-position: center center !important;
	background-size: auto !important;
	height: 100vh;
	max-height: 300px;
}
